body {
  background: #fff0f6;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 40px;
}

.center input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 25px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  background: #ff5c8a;
  color: white;
  cursor: pointer;
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 220px;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.hidden {
  display: none;
}

#finalMsg img {
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}
